/* Imports */
@font-face {font-family: 'Geo'; src: url('assets/fonts/Geo.ttf') format('truetype'); font-display: block;}
@font-face {font-family: 'Pixelify'; src: url('assets/fonts/Pixelify.ttf') format('truetype'); font-display: block;}
@font-face {font-family: 'PressStart2P'; src: url('assets/fonts/PressStart2P.ttf') format('truetype'); font-display: block;}
/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Base */
:root {
    --spacing-base: 1rem;
}
html {
    min-height: 100%;
}
body {
    padding: var(--spacing-base) var(--spacing-base) 0;
    margin: 0 auto;
    min-height: 100vh;
    min-height: 100dvh;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: 'PressStart2P', monospace;
    color: white;
    font-size: 1rem;
}

main {
    flex: 1;
    width: 100%;
    padding: var(--spacing-base);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);
}

/* Header */
header {
    text-align: center;
    padding: var(--spacing-base) var(--spacing-base) calc(var(--spacing-base)*0.5);
    color: white;
    border: 2px solid white;
}

header h1 {
    font-size: 2.5rem;
}

header h3 {
    font-family: 'Pixelify';
    font-size: 1.5rem;
}

/* Tabs */
.tab-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-base);
    width: 100%;
}

.tab-container label {
    padding: var(--spacing-base) calc(var(--spacing-base) * 0.75);
    background-color: black;
    border: 2px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    min-width: 100px;
    flex: 1;
    max-width: 30%;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab-container input[type="radio"] {
    display: none;
}

.tab-container input[type="radio"]:checked + label {
    background-color: white;
    color: black;
}

/* Input Area */
#input-area {
    height: auto;
    min-height: 12rem;
    position: relative;
}

input:not([type="radio"]),
textarea {
    padding: calc(var(--spacing-base) * 0.5);
    border: 2px solid white;
    border-radius: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    display: block;
    resize: none;
    font-family: 'Geo';
    font-size: 1rem;
}

#text-input {
    position: absolute;
    width: 100%;
    height: 100%;
}

#contact-info-inputs {
    position: relative;
    display: none;
    flex-direction: column;
    gap: calc(var(--spacing-base) * 0.5);
}

#wifi-code-inputs {
    position: relative;
    display: none;
    flex-direction: column;
    gap: calc(var(--spacing-base) * 0.5);
    min-height: 12rem;
}

/* Toggle */
.toggle-box {
    padding: 1rem;
    border: 2px solid green;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.75rem;
    cursor: pointer;
    transition: border-color 0.3s ease;
    user-select: none;
    margin-top: 1rem;
}

.toggle-box[aria-pressed="true"] {
    border-color: red;
}

/* Button */
button {
    padding: var(--spacing-base);
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    width: 80%;
    border-radius: 0;
    font-size: 1.25rem;
    font-family: 'PressStart2P', monospace;
}

button:hover {
    background-color: #ddd;
}

/* QR Code */
#qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
}

#qr-container {
    width: 16rem;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: opacity 0.3s ease;
    background-color: white;
}

#qr-container.loading {
    opacity: 0;
}

#qr-container img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
}

#qr-container.loading::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    background-color: white;
    animation: pulse 1.5s infinite;
}

.placeholder-image {
    max-width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 0.3s ease;
}

#qr-container.loading .placeholder-image,
#qr-container:has(img:not(.placeholder-image)) .placeholder-image {
    display: none;
}

/* Footer */
footer {
    border-top: 2px solid white;
    height: 3rem;
    max-width: 45rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

#footer-content {
    text-align: center;
}

#footer-message {
    margin: calc(var(--spacing-base) * 0.2);
    font-size: 0.75rem;
}

footer a {
    color: white;
    text-decoration: none;
}

@media (max-width: 600px) {
    :root {
        --spacing-base: 0.6rem;
    }
    .tab-container label {
        font-size: 0.5rem;
    }
    button {
        font-size: 1rem;
    }
}