@font-face {font-family: 'PressStart2P'; src: url('assets/PressStart2P.ttf') format('truetype'); font-display: block;}
@font-face {font-family: 'Marker'; src: url('assets/Marker.ttf') format('truetype'); font-display: block;}
@font-face {font-family: 'Pixelify'; src: url('assets/Pixelify.ttf') format('truetype'); font-display: block;}
@font-face {font-family: 'Bungee'; src: url('assets/Bungee.ttf') format('truetype'); font-display: block;}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --global-spacing: 1rem /* Adjust this value to change the overall spacing */
}

body {
    font-family: 'PressStart2P', monospace;
    background-color: black;
    color: white;
    min-height: 100vh;
    max-width: 45rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: var(--global-spacing);
    background-color: black;
    color: white;
    /* width: 100%;  Remove this line */
    height: auto;
    border-bottom: 2px solid white;
}

header h1 {
    margin-bottom: 0.5em;
}

header h3 {
    font-family: 'Bungee';
}

main {
    width: 98%;
    padding: var(--global-spacing);
    background-color: black;
    box-shadow: none;
    margin-bottom: 0px;
    flex-grow: 1; /* Allow main to take up remaining space */
    display: flex;
    flex-direction: column;
}

#generation-options {
    height: auto;
    margin-bottom: var(--global-spacing);
}

.tab-container {
    display: flex;
    justify-content: space-around;
    height: auto;
    align-items: center;
}

.tab-container label {
    padding: calc(var(--global-spacing) / 2) var(--global-spacing);
    background-color: black;
    border: 2px solid white;
    cursor: pointer;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.tab-container input[type="radio"] {
    display: none;
}

.tab-container input[type="radio"]:checked + label {
    background-color: white;
    color: black;
}

#input-area {
    min-height: 13rem;
    margin-bottom: var(--global-spacing);
    position: relative;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 0.5rem;
    border: 2px solid white;
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'PressStart2P', monospace;
    background-color: black;
    color: white;
    text-align: center;
    display: block; /* ensure items fill up available space */
    resize: none;
}

#link-text-input,
#contact-info-inputs,
#wifi-code-inputs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contact-info-inputs,
#wifi-code-inputs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;              /* Enable Flexbox */
    flex-direction: column;    /* Stack items vertically */
    justify-content: space-between; /* Distribute space evenly */
}

.input-group {
    margin-bottom: 0; /* Override previous value, ensure no extra spacing */
}

.input-group label {
    display: block; /* Ensure the label takes full width */
    margin-bottom: 0.25rem; /* Small space between the label and input */
}

button {
    padding: var(--global-spacing);
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    height: auto;
    width: 100%;
    border-radius: 0;
    font-size: 1em;
    font-family: 'PressStart2P', monospace;
    text-transform: uppercase;
}

button:hover {
    background-color: #ddd;
}

#qrcode {
    margin-top: var(--global-spacing);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: var(--global-spacing);
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
}

/* Checkbox styling */
.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-container label {
    margin-right: 10px;
    display: inline-block;
}

/* Style the Checkboxes */
.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

/* Footer Styles */
footer {
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 45rem;
    margin: 0 auto;
    font-size: 0.8em;
    border-top: 2px solid white;
    height: 4rem; /* Fixed height for the footer */
    position: relative;
}

#footer-content {
    position: absolute; /*Or just relative, both work*/
    top: 0; /* Anchor to the top */
    bottom: 0; /* Anchor to the bottom */
    left: 0;
    right: 0;
    width: 100%;
    display: flex;             /* Enable Flexbox */
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    text-align: center;       /* Ensure text is centered within the flex item */
}

#footer-message {
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    text-decoration: none;
}